* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main-div {
  height: 500px;
  width: 370px;
  background-color: rgb(146, 143, 143);
  border-radius: 25px;
  border: 2px solid none;
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.5),
    0 0 20px rgba(168, 85, 247, 0.2);
}

#mode {
  margin-top: 20px;
  margin-left: 300px;
  height: 25px;
  width: 50px;
  border-radius: 20px;
  box-sizing: border-box;
  border: none;
  background-color: rgb(255, 255, 255);
}

#screen {
display : flex;
justify-content: flex-end;
  background-color: white;
  margin: 10px 12px 10px 12px;
  height: 100px;
  border-radius: 12px;
  box-shadow:
    inset 5px 5px 10px rgba(0, 0, 0, 0.15),
    inset -3px -3px 8px rgba(255, 255, 255, 0.5);
    font-size: 3rem;
    padding: 20px;
}


.keypad {
  margin: 30px 12px 6px 12px;
  display: grid;
  padding: 12px;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 12px;
  background-color: white;
}

button {
  background: #1f2937;
  color: white;
  margin: 3px;
  height: 40px;
  width: 70px;
  border-radius: 16px;
  border: none;
  box-shadow:
    5px 5px 12px rgba(0, 0, 0, 0.45),
    -2px -2px 6px rgba(255, 255, 255, 0.05);
}

button:hover {
  transform: translateY(-2px);

  box-shadow:
    8px 8px 18px rgba(0, 0, 0, 0.5),
    0 0 15px rgba(168, 85, 247, 0.25);

  cursor: pointer;
}

.plus {
  grid-row: span 2;
  height: auto;
}

.equal {
  grid-column: span 3;
  width: auto;
}
